<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
  <title>Pages / Not Found 404 - NiceAdmin Bootstrap Template</title>
  </head>
  <body layout:fragment="content">
    <main>
      <section class="section dashboard">
      <div class="container">
        <section
          class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center"
        >
          <h1>404</h1>
          <h2>Trang bạn tìm kiếm không tồn tại.</h2>
          <a class="btn" href="index.html">Trở về</a>
          <img
            src="/assets/img/not-found.svg"
            class="img-fluid py-5"
            alt="Page Not Found"
          />
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
          </div>
        </section>
      </div>
      </section>
    </main>
  </body>
</html>
