<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
  <title layout:title-pattern="$CONTENT_TITLE"></title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon" />
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect" />
  <link
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet"
  />

  <!-- Vendor CSS Files -->
  <link
          href="/assets/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet"
  />
  <link
          href="/assets/vendor/bootstrap-icons/bootstrap-icons.css"
          rel="stylesheet"
  />
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
  <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet" />
  <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet" />
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
  <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet" />

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet" />

</head>
<body>

<!--heder-->
<div th:replace="Fragments/header.html :: header"></div>


<!--sidebar-->
<div th:replace="Fragments/Sidebar.html :: sidebar"></div>

<!--main-->
<div layout:fragment="content"></div>


<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
  <i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.min.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.min.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Template Main JS File -->
<script src="/assets/js/main.js">
</script>
<script>
  function chooseFile1(fileinput) {
    $('#divImage').css('display','none');
    $('#divImage1').css('display','block');
    if (fileinput.files && fileinput.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $("#image1").attr("src", e.target.result);
      };
      reader.readAsDataURL(fileinput.files[0]);
    }
  }
</script>
<script>
  function chooseFile(fileinput) {
    if (fileinput.files && fileinput.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $("#image").attr("src", e.target.result);
      };
      reader.readAsDataURL(fileinput.files[0]);
    }
  }
</script>

<script>
  $('#newPassword, #renewPassword').on('keyup', function () {
    if ($('#newPassword').val() == $('#renewPassword').val()) {
      document.getElementById("updateBtn").disabled = false;
      $('#renewPassword').css('border', '1px solid #ced4da')
    } else {
      document.getElementById("updateBtn").disabled = true;
      $('#renewPassword').css('border', '2px solid red')
    }
  });

  function update_passWord(){
    $.ajax({
      type : "POST",
      url: "/update-password",
      data: "passWord="+$('#currentPassword').val()+"&userName="+$('#SSuserName').text()+"&newPassWord="+$('#newPassword').val(),
      success: function(data) {
        $('.trangThai').replaceWith(data);
        $('#newPassword').val("");
        $('#renewPassword').val("");
        $('#currentPassword').val("");
      },
      error: function(data){
        alert("lỗi!");
      }
    });
  }
function show_laptop_on_modal(id){
  $.ajax({
    type : "POST",
    url: "/hang-hoa/show-laptop-on-modal",
    data: "maHH="+id,
    success: function(data) {
      $('#modalSua').replaceWith(data);
    },
    error: function(data){
      alert("lỗi!");
    }
  });
}
function xapSep(){
  $.ajax({
    type : "POST",
    url: "/hang-hoa/laptop",
    data: "xs="+$('#xapSep').val(),
    success: function(data) {
      $('#listLaptop').replaceWith(data);
    },
    error: function(data){
      alert("lỗi!");
    }
  });
}
function xapSepChuot(){
	  $.ajax({
	    type : "POST",
	    url: "/hang-hoa/chuot",
	    data: "xs="+$('#xapSep').val(),
	    success: function(data) {
	      $('#listChuot').replaceWith(data);
	    },
	    error: function(data){
	      alert("lỗi!");
	    }
	  });
	}
function xapSepLoa(){
	  $.ajax({
	    type : "POST",
	    url: "/hang-hoa/loa",
	    data: "xs="+$('#xapSep').val(),
	    success: function(data) {
	      $('#listLoa').replaceWith(data);
	    },
	    error: function(data){
	      alert("lỗi!");
	    }
	  });
	}
function xapSepManHinh(){
	  $.ajax({
	    type : "POST",
	    url: "/hang-hoa/man-hinh",
	    data: "xs="+$('#xapSep').val(),
	    success: function(data) {
	      $('#listManHinh').replaceWith(data);
	    },
	    error: function(data){
	      alert("lỗi!");
	    }
	  });
	}
function xapSepPC(){
	  $.ajax({
	    type : "POST",
	    url: "/hang-hoa/pc",
	    data: "xs="+$('#xapSep').val(),
	    success: function(data) {
	      $('#listPC').replaceWith(data);
	    },
	    error: function(data){
	      alert("lỗi!");
	    }
	  });
	}
function xapSepTaiNghe(){
	  $.ajax({
	    type : "POST",
	    url: "/hang-hoa/tai-nghe",
	    data: "xs="+$('#xapSep').val(),
	    success: function(data) {
	      $('#listTaiNghe').replaceWith(data);
	    },
	    error: function(data){
	      alert("lỗi!");
	    }
	  });
	}
function xapSepBanPhim(){
	  $.ajax({
	    type : "POST",
	    url: "/hang-hoa/ban-phim",
	    data: "xs="+$('#xapSep').val(),
	    success: function(data) {
	      $('#listBanPhim').replaceWith(data);
	    },
	    error: function(data){
	      alert("lỗi!");
	    }
	  });
	}

//hiển thị thêm lap top
function show_more_laptop(limit){
  let xs = $('#xapSep').val();
  if(xs==null){
      xs = 1;
    }
  $.ajax({
    type : "POST",
    url: "/hang-hoa/show_more_laptop",
    data: "xs="+xs+"&limit="+limit,
    success: function(data) {
      $('#listLaptop').replaceWith(data);
    },
    error: function(data){
      alert("lỗi!");
    }
  });
}
function show_more_chuot(limit){
	  let xs = $('#xapSep').val();
	  if(xs==null){
	      xs = 1;
	    }
	  $.ajax({
	    type : "POST",
	    url: "/hang-hoa/show_more_chuot",
	    data: "xs="+xs+"&limit="+limit,
	    success: function(data) {
	      $('#listChuot').replaceWith(data);
	    },
	    error: function(data){
	      alert("lỗi!");
	    }
	  });
	}
function show_more_loa(limit){
	  let xs = $('#xapSep').val();
	  if(xs==null){
	      xs = 1;
	    }
	  $.ajax({
	    type : "POST",
	    url: "/hang-hoa/show_more_loa",
	    data: "xs="+xs+"&limit="+limit,
	    success: function(data) {
	      $('#listLoa').replaceWith(data);
	    },
	    error: function(data){
	      alert("lỗi!");
	    }
	  });
	}
function show_more_man_hinh(limit){
	  let xs = $('#xapSep').val();
	  if(xs==null){
	      xs = 1;
	    }
	  $.ajax({
	    type : "POST",
	    url: "/hang-hoa/show_more_man_hinh",
	    data: "xs="+xs+"&limit="+limit,
	    success: function(data) {
	      $('#listManHinh').replaceWith(data);
	    },
	    error: function(data){
	      alert("lỗi!");
	    }
	  });
	}
function show_more_pc(limit){
	  let xs = $('#xapSep').val();
	  if(xs==null){
	      xs = 1;
	    }
	  $.ajax({
	    type : "POST",
	    url: "/hang-hoa/show_more_pc",
	    data: "xs="+xs+"&limit="+limit,
	    success: function(data) {
	      $('#listPC').replaceWith(data);
	    },
	    error: function(data){
	      alert("lỗi!");
	    }
	  });
	}
function show_more_tai_nghe(limit){
	  let xs = $('#xapSep').val();
	  if(xs==null){
	      xs = 1;
	    }
	  $.ajax({
	    type : "POST",
	    url: "/hang-hoa/show_more_tai_nghe",
	    data: "xs="+xs+"&limit="+limit,
	    success: function(data) {
	      $('#listTaiNghe').replaceWith(data);
	    },
	    error: function(data){
	      alert("lỗi!");
	    }
	  });
	}
function show_more_ban_phim(limit){
	  let xs = $('#xapSep').val();
	  if(xs==null){
	      xs = 1;
	    }
	  $.ajax({
	    type : "POST",
	    url: "/hang-hoa/show_more_ban_phim",
	    data: "xs="+xs+"&limit="+limit,
	    success: function(data) {
	      $('#listBanPhim').replaceWith(data);
	    },
	    error: function(data){
	      alert("lỗi!");
	    }
	  });
	}

	//check id lap
  $('#LaptopID').on('blur', function (){

    if($('#LaptopID').val()!=="") {
      $.ajax({
        type: "POST",
        url: "/hang-hoa/check_id_laptop",
        data: "idLaptop=" + $('#LaptopID').val(),
        success: function (data) {
          $('.message').replaceWith(data);
        },
        error: function (data) {
          alert('Lỗi!');
        }
      });
    }
    else{
      $('.message').replaceWith('<div id="maHH1" class="message" style="display: none">\n' +
              '</div>')
    }
  });
  
  $('#ChuotID').on('blur', function (){

	    if($('#ChuotID').val()!=="") {
	      $.ajax({
	        type: "POST",
	        url: "/hang-hoa/check_id_chuot",
	        data: "idChuot=" + $('#ChuotID').val(),
	        success: function (data) {
	          $('.message').replaceWith(data);
	        },
	        error: function (data) {
	          alert('Lỗi!');
	        }
	      });
	    }
	    else{
	      $('.message').replaceWith('<div id="maHH1" class="message" style="display: none">\n' +
	              '</div>')
	    }
	  });
  //check id loa
  $('#LoaID').on('blur', function (){

	    if($('#LoaID').val()!=="") {
	      $.ajax({
	        type: "POST",
	        url: "/hang-hoa/check_id_loa",
	        data: "idLoa=" + $('#LoaID').val(),
	        success: function (data) {
	          $('.message').replaceWith(data);
	        },
	        error: function (data) {
	          alert('Lỗi!');
	        }
	      });
	    }
	    else{
	      $('.message').replaceWith('<div id="maHH1" class="message" style="display: none">\n' +
	              '</div>')
	    }
	  });
  // check id manhinh
  $('#ManHinhID').on('blur', function (){

	    if($('#ManHinhID').val()!=="") {
	      $.ajax({
	        type: "POST",
	        url: "/hang-hoa/check_id_man_hinh",
	        data: "idManHinh=" + $('#ManHinhID').val(),
	        success: function (data) {
	          $('.message').replaceWith(data);
	        },
	        error: function (data) {
	          alert('Lỗi!');
	        }
	      });
	    }
	    else{
	      $('.message').replaceWith('<div id="maHH1" class="message" style="display: none">\n' +
	              '</div>')
	    }
	  });
  // check id pc
  $('#PCID').on('blur', function (){

	    if($('#PCID').val()!=="") {
	      $.ajax({
	        type: "POST",
	        url: "/hang-hoa/check_id_pc",
	        data: "idPC=" + $('#PCID').val(),
	        success: function (data) {
	          $('.message').replaceWith(data);
	        },
	        error: function (data) {
	          alert('Lỗi!');
	        }
	      });
	    }
	    else{
	      $('.message').replaceWith('<div id="maHH1" class="message" style="display: none">\n' +
	              '</div>')
	    }
	  });
  //check id tai nghe 
  $('#TaiNgheID').on('blur', function (){

	    if($('#TaiNgheID').val()!=="") {
	      $.ajax({
	        type: "POST",
	        url: "/hang-hoa/check_id_tai_nghe",
	        data: "idTaiNghe=" + $('#TaiNgheID').val(),
	        success: function (data) {
	          $('.message').replaceWith(data);
	        },
	        error: function (data) {
	          alert('Lỗi!');
	        }
	      });
	    }
	    else{
	      $('.message').replaceWith('<div id="maHH1" class="message" style="display: none">\n' +
	              '</div>')
	    }
	  });
  // check id bàn phím
    $('#BanPhimID').on('blur', function (){

	    if($('#BanPhimID').val()!=="") {
	      $.ajax({
	        type: "POST",
	        url: "/hang-hoa/check_id_ban_phim",
	        data: "idBanPhim=" + $('#BanPhimID').val(),
	        success: function (data) {
	          $('.message').replaceWith(data);
	        },
	        error: function (data) {
	          alert('Lỗi!');
	        }
	      });
	    }
	    else{
	      $('.message').replaceWith('<div id="maHH1" class="message" style="display: none">\n' +
	              '</div>')
	    }
	  });
  function show_ban_phim_on_modal(id){
	  $.ajax({
	    type : "POST",
	    url: "/hang-hoa/show-ban-phim-on-modal",
	    data: "maHH="+id,
	    success: function(data) {
	      $('#modalSua').replaceWith(data);
	    },
	    error: function(data){
	      alert("lỗi!");
	    }
	  });
	}
  function show_chuot_on_modal(id){
	  $.ajax({
	    type : "POST",
	    url: "/hang-hoa/show-chuot-on-modal",
	    data: "maHH="+id,
	    success: function(data) {
	      $('#modalSua').replaceWith(data);
	    },
	    error: function(data){
	      alert("lỗi!");
	    }
	  });
	}
  function show_loa_on_modal(id){
	  $.ajax({
	    type : "POST",
	    url: "/hang-hoa/show-loa-on-modal",
	    data: "maHH="+id,
	    success: function(data) {
	      $('#modalSua').replaceWith(data);
	    },
	    error: function(data){
	      alert("lỗi!");
	    }
	  });
	}
  function show_man_hinh_on_modal(id){
	  $.ajax({
	    type : "POST",
	    url: "/hang-hoa/show-man-hinh-on-modal",
	    data: "maHH="+id,
	    success: function(data) {
	      $('#modalSua').replaceWith(data);
	    },
	    error: function(data){
	      alert("lỗi!");
	    }
	  });
	}
  function show_pc_on_modal(id){
	  $.ajax({
	    type : "POST",
	    url: "/hang-hoa/show-pc-on-modal",
	    data: "maHH="+id,
	    success: function(data) {
	      $('#modalSua').replaceWith(data);
	    },
	    error: function(data){
	      alert("lỗi!");
	    }
	  });
	}
  function show_tai_nghe_on_modal(id){
	  $.ajax({
	    type : "POST",
	    url: "/hang-hoa/show-tai-nghe-on-modal",
	    data: "maHH="+id,
	    success: function(data) {
	      $('#modalSua').replaceWith(data);
	    },
	    error: function(data){
	      alert("lỗi!");
	    }
	  });
	}
  function xoa_Lap(id) {
	    if (confirm('Bạn có muốn xoá laptop này?')) {
	      $.ajax({
	        type: "POST",
	        url: "/hang-hoa/xoa-lap",
	        data: "idLaptop=" + id,
	        success: function () {
	          alert('Thành công!');
	          window.location = '/hang-hoa/laptop';
	        },
	        error: function (data) {
	          alert('Lỗi!');
	        }
	      });
	    }
	  }
  function xoa_ban_phim(id) {
	    if (confirm('Bạn có muốn xoá bàn phím này?')) {
	      $.ajax({
	        type: "POST",
	        url: "/hang-hoa/xoa-ban-phim",
	        data: "idBanPhim=" + id,
	        success: function () {
	          alert('Thành công!');
	          window.location = '/hang-hoa/ban-phim';
	        },
	        error: function (data) {
	          alert('Lỗi!');
	        }
	      });
	    }
	  }
  function xoa_chuot(id) {
	    if (confirm('Bạn có muốn xoá chuột này?')) {
	      $.ajax({
	        type: "POST",
	        url: "/hang-hoa/xoa-chuot",
	        data: "idChuot=" + id,
	        success: function () {
	          alert('Thành công!');
	          window.location = '/hang-hoa/chuot';
	        },
	        error: function (data) {
	          alert('Lỗi!');
	        }
	      });
	    }
	  }
  function xoa_loa(id) {
	    if (confirm('Bạn có muốn xoá loa này?')) {
	      $.ajax({
	        type: "POST",
	        url: "/hang-hoa/xoa-loa",
	        data: "idLoa=" + id,
	        success: function () {
	          alert('Thành công!');
	          window.location = '/hang-hoa/loa';
	        },
	        error: function (data) {
	          alert('Lỗi!');
	        }
	      });
	    }
	  }
  function xoa_man_hinh(id) {
	    if (confirm('Bạn có muốn xoá màn hình này?')) {
	      $.ajax({
	        type: "POST",
	        url: "/hang-hoa/xoa-man-hinh",
	        data: "idManHinh=" + id,
	        success: function () {
	          alert('Thành công!');
	          window.location = '/hang-hoa/man-hinh';
	        },
	        error: function (data) {
	          alert('Lỗi!');
	        }
	      });
	    }
	  }
  function xoa_pc(id) {
	    if (confirm('Bạn có muốn xoá pc này?')) {
	      $.ajax({
	        type: "POST",
	        url: "/hang-hoa/xoa-pc",
	        data: "idPC=" + id,
	        success: function () {
	          alert('Thành công!');
	          window.location = '/hang-hoa/pc';
	        },
	        error: function (data) {
	          alert('Lỗi!');
	        }
	      });
	    }
	  }
  function xoa_tai_nghe(id) {
	    if (confirm('Bạn có muốn xoá tai nghe này?')) {
	      $.ajax({
	        type: "POST",
	        url: "/hang-hoa/xoa-tai-nghe",
	        data: "idTaiNghe=" + id,
	        success: function () {
	          alert('Thành công!');
	          window.location = '/hang-hoa/tai-nghe';
	        },
	        error: function (data) {
	          alert('Lỗi!');
	        }
	      });
	    }
	  }
  document.getElementById('ngayTao').valueAsDate = new Date();

  function load_listHH(){
    $.ajax({
      type: "POST",
      url: "/xuat-nhap/load_HH",
      data: "loai=" + $('#haha').val(),
      success: function (data) {
        $('#loadHH').replaceWith(data);
      },
      error: function (data) {
        alert('Lỗi!');
      }
    });
  }
  function themHHvaoSession(id){

    $.ajax({
      type: "POST",
      url: "/xuat-nhap/them-hh-session",
      data: "id=" + id,
      success: function (data) {
        $('#listTenHH').replaceWith(data);
        document.getElementById()
      },
      error: function (data) {
        alert('Lỗi!');
      }
    });
  }
  function check_maPhieu() {
    if ($('#maPhieu').val() !== "") {
      $.ajax({
        type: "POST",
        url: "/xuat-nhap/check-ma-phieu",
        data: "maPhieu=" + $('#maPhieu').val(),
        success: function (data) {
          $('.message').replaceWith(data);
        },
        error: function (data) {
          alert('Lỗi!');
        }
      });
    }
  }
</script>
</body>
</html>