<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
  <head>
    <title>Pages / Register - NiceAdmin Bootstrap Template</title>
  </head>
  <body layout:fragment="content">
    <main id="main" class="main">

      <div class="pagetitle">
        <h1>Sửa tài khoản nhân viên</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="QuanlyNV.html">Quản lý nhân viên</a></li>
            <li class="breadcrumb-item active">Sửa nhân viên</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->
  
      <section class="section">
        <div class="card">
          <div class="card-body">
            <div class="addemployee">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{/sua-thu-kho}" method="post">
        
                            <div class="modal-body">					
                                <div class="form-group">
                                    <label>Mã nhân viên</label>
                                    <input name="ID" type="text" class="form-control" required th:value="${thukho.getID()}" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Tên nhân viên</label>
                                    <input name="Ten" type="text" class="form-control" required th:value="${thukho.getTen()}">
                                </div>
                                <div class="form-group">
                                    <label>Tài khoản</label>
                                    <input name="user" type="text" class="form-control" required th:value="${thukho.getTaiKhoan().getUserName()}">
                                </div>
                                <div class="form-group">
                                    <label>Ngày bắt đầu làm</label>
                                    <input name="" class="form-control" required th:value="${thukho.getNgayBatDauLam()}"></input>
                                </div>
                                <div class="form-group">
                                    <label>Tiền lương theo giờ</label>
                                    <input name="soTienTrenGio" class="form-control" required th:value="${thukho.getSoTienTrenGio()}"></input>
                                </div>
                                                    
                            </div>
                            <div class="modal-footer" style="margin-top: 10px;">
                                <input type="submit" class="btn btn-success" value="Sửa">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
   
      </section>
  
    </main><!-- End #main -->
  </body>
</html>
