<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
  <head>
    <title>Hàng hóa / Màn hình / Chi tiết</title>
  <body layout:fragment="content">

    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Chi tiết sản phẩm</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../index.html">Trang chủ</a></li>
            <li class="breadcrumb-item active">hàng hóa</li>
            <li class="breadcrumb-item active">
              <a href="../PageHangHoa/ManHinh.html">Màn hình</a>
            </li>
            <li class="breadcrumb-item active">chi tiết sản phẩm</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->

      <section class="section profile">
        <div class="row">
          <div class="col-xl-4">
            <div class="card">
              <div class="card-body pt-4 d-flex flex-column align-items-center">
                <img
                  style="width: 300px; height: 250px"
                  th:src="@{${'/hang-hoa/anh-man-hinh/'+manhinh.getID()}}"
                />
                <h2 th:text="${manhinh.getTen()}"></h2>
              </div>
            </div>
          </div>

          <div class="col-xl-8">
            <div class="card">
              <div class="card-body pt-3">
                <!-- Bordered Tabs -->
                <ul class="nav nav-tabs nav-tabs-bordered">
                  <li class="nav-item">
                    <button
                      class="nav-link active"
                      data-bs-toggle="tab"
                      data-bs-target="#profile-overview"
                    >
                      Chi tiết sản phẩm
                    </button>
                  </li>
                </ul>
                <div class="tab-content pt-2">
                  <div
                    class="tab-pane fade show active profile-overview"
                    id="profile-overview"
                  >
                    <h5 class="card-title">Cấu hình chi tiết</h5>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Giá</div>
                      <div class="col-lg-9 col-md-8"  th:text="${manhinh.getGia()}+'VNĐ'" ></div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Hãng sản xuất</div>
                      <div class="col-lg-9 col-md-8" th:text="${manhinh.getHangSX()}"></div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Model</div>
                      <div class="col-lg-9 col-md-8" th:text=${manhinh.getModel()}>8gb ĐR4</div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label" >Kết nối</div>
                      <div class="col-lg-9 col-md-8" th:text=${manhinh.getKetNoi()}>066257882258</div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Tần số quét</div>
                      <div class="col-lg-9 col-md-8" th:text=${manhinh.getTanSoQuet()}>(436) 486-3538 x29071</div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">
                        Tỉ lệ khung hình
                      </div>
                      <div class="col-lg-9 col-md-8" th:text=${manhinh.getTiLeKhungHinh()}>(436) 486-3538 x29071</div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Loại màn hình</div>
                      <div class="col-lg-9 col-md-8" th:text=${manhinh.getLoaiMH()}>(436) 486-3538 x29071</div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">
                        Màu sắc hiển thị
                      </div>
                      <div class="col-lg-9 col-md-8" th:text=${manhinh.getMauSacHienThi()}>(436) 486-3538 x29071</div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Trọng lượng</div>
                      <div class="col-lg-9 col-md-8" th:text=${manhinh.getTrongLuong()}>(436) 486-3538 x29071</div>
                    </div>
                  </div>

                  <div
                    class="tab-pane fade profile-edit pt-3"
                    id="profile-edit"
                  ></div>
                </div>
                <!-- End Bordered Tabs -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
