<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
  <head>
    <title>Hàng hóa / PC / Chi tiết</title>
  </head>

  <body layout:fragment="content">

    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Chi tiết sản phẩm</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../index.html">Trang chủ</a></li>
            <li class="breadcrumb-item active">hàng hóa</li>
            <li class="breadcrumb-item active">
              <a href="../PageHangHoa/PC.html">PC</a>
            </li>
            <li class="breadcrumb-item active">chi tiết sản phẩm</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->

      <section class="section profile">
        <div class="row">
          <div class="col-xl-4">
            <div class="card">
              <div class="card-body pt-4 d-flex flex-column align-items-center">
                <img
                  style="width: 300px; height: 250px"
                  src="assets/img/product-5.jpg"
                />
                <h2>Tai nghe hyperX</h2>
              </div>
            </div>
          </div>

          <div class="col-xl-8">
            <div class="card">
              <div class="card-body pt-3">
                <!-- Bordered Tabs -->
                <ul class="nav nav-tabs nav-tabs-bordered">
                  <li class="nav-item">
                    <button
                      class="nav-link active"
                      data-bs-toggle="tab"
                      data-bs-target="#profile-overview"
                    >
                      Chi tiết sản phẩm
                    </button>
                  </li>
                </ul>
                <div class="tab-content pt-2">
                  <div
                    class="tab-pane fade show active profile-overview"
                    id="profile-overview"
                  >
                    <h5 class="card-title">Cấu hình chi tiết</h5>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Giá</div>
                      <div class="col-lg-9 col-md-8">2000000Đ</div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Hãng sản xuất</div>
                      <div class="col-lg-9 col-md-8">hyper</div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">RAM</div>
                      <div class="col-lg-9 col-md-8">8gb ĐR4</div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">CPU</div>
                      <div class="col-lg-9 col-md-8">066257882258</div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">GPU</div>
                      <div class="col-lg-9 col-md-8">(436) 486-3538 x29071</div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Card</div>
                      <div class="col-lg-9 col-md-8">(436) 486-3538 x29071</div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Hệ điều hành</div>
                      <div class="col-lg-9 col-md-8">(436) 486-3538 x29071</div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Webcam</div>
                      <div class="col-lg-9 col-md-8">(436) 486-3538 x29071</div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">SSD</div>
                      <div class="col-lg-9 col-md-8">(436) 486-3538 x29071</div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">HDD</div>
                      <div class="col-lg-9 col-md-8">(436) 486-3538 x29071</div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Màn hình</div>
                      <div class="col-lg-9 col-md-8">(436) 486-3538 x29071</div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Main</div>
                      <div class="col-lg-9 col-md-8">(436) 486-3538 x29071</div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Pin</div>
                      <div class="col-lg-9 col-md-8">(436) 486-3538 x29071</div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Trọng lượng</div>
                      <div class="col-lg-9 col-md-8">(436) 486-3538 x29071</div>
                    </div>
                  </div>

                  <div
                    class="tab-pane fade profile-edit pt-3"
                    id="profile-edit"
                  ></div>
                </div>
                <!-- End Bordered Tabs -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
