<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
  <head>

    <title>Hàng hóa / Laptop</title>
      <link href="/assets/css/Modal.css" rel="stylesheet" />
  </head>

  <body layout:fragment="content">

    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Laptop</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/thong-ke}">Trang chủ</a></li>
            <li class="breadcrumb-item">Hàng hoá</li>
            <li class="breadcrumb-item active">Laptop</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->

      <section class="section">
          <div
                  style="margin-bottom: 20px; display: flex; justify-content: space-between"
          >
              <a  class="btn btn-success" href="#addModal">
                  <span>Thêm Sản Phẩm</span></a
              >
              <div >
                  <div class="dropdown" >
                      <select
                              class="form-select"
                              aria-label="Default select example" id="xapSep" onchange="xapSep()">
                          <option selected disabled>Sắp xếp theo</option>
                          <option value="1">Giá: Thấp đến cao</option>
                          <option value="2">Giá: Cao đến thấp</option>
                      </select>
                  </div>
              </div>
          </div>

        <div id="listLaptop" class="product" style="display: flex; flex-wrap: wrap">
        
          <ul th:each="laptop : ${laptops}">
            <div class="card">
              <div
                class="profile-card pt-4 d-flex flex-column"
                style="padding: 0 10px 0 10px">
                <img style="width: 300px; height: 250px"
                  th:src="@{${'/hang-hoa/anh-laptop/'+laptop.getID()}}"/>
                  <p id="idLaptop" style="display: none" th:text="${laptop.getID()}"></p>
                <h5 style="margin-top: 10px; width: 300px; height: 45px;" th:text="${laptop.getTen()}"></h5>
                <h6 th:text="'Giá: '+${laptop.getGia()}"></h6>
                <div style="display: flex; justify-content: space-between">
                <h6 th:if="${laptop.getSoLuongCon()!=0}" th:text="'Còn: '+${laptop.getSoLuongCon()}"></h6>
                <label th:unless="${laptop.getSoLuongCon()!=0}" for="" style="display: block; color: red"> hết hàng</label>
                </div>
                <div class="social-links" style="display: flex; justify-content: space-between">
                  <div>
                    <a  class="chinhsua" href="#editModal" th:data-parameter1 ="${laptop.getID()}" onclick="show_laptop_on_modal(this.getAttribute('data-parameter1'))"><i class="bi bi-pencil-square"></i

                    ></a>
                    <a href="#" class="Xoa"><i class="bi bi-trash"></i></a>
                  </div>
                  <a th:href="@{${'/hang-hoa/laptop-ct/'+laptop.getID()}}" class="chitiet"><i class="=">Chi tiết</i></a>
                </div>
              </div>
            </div>
          </ul>
     
        </div>
        <div >
          <a href="" th:data-limit="${laptops.size()}" style="
          display: block;
          margin: 5px auto 15px;
          padding: 15px 20px;
          text-align: center;" onclick="show_more_laptop(this.getAttribute('data-limit'))"><i>Xem thêm</i></a>
        </div>   
        <div id="addModal" class="modal" role="dialog">
          <a href="#" class="fade" style="position: fixed;"></a>
          <div class="modal-dialog1" style="width: 680px; margin-left: auto; margin-right: auto;" >
            
              <div class="modal-content">
               
                  <form th:action="@{/hang-hoa/them-laptop}" method="post" enctype="multipart/form-data">
                      <div class="modal-header">
                          <h4 class="modal-title">Thêm sản phẩm</h4>
                          <a class="close" data-dismiss="modal" href="#">&times;</a>
                      </div>
                      <div class="modal-body">	
                        <div class="form-group" style="display: flex; ">
                          <div>
                          <label style="margin-bottom: 70px;">Hình ảnh</label>
                          <input name="hinhAnhbit" class="form-control" type="file" id="Fileimage" onchange="chooseFile(this)" accept="image/gif image/png image/jpeg">
                          </div>
                          <div style="max-width: 300px; max-height:250px; margin-left: 10px;">
                              <img src="" alt="" width="300px" height="250px" id="image">
                          </div>
                      </div>
                          <div class="form-group">
                              <label>Mã hàng hoá</label>
                              <input name="ID" type="text" class="form-control" required id="LaptopID">
                              <div id="maHH" style="display: none" class="message">
                              </div>
                          </div>
                          <div class="form-group">
                              <label>Tên hàng hóa</label>
                              <input name="Ten" type="text" class="form-control" required>
                          </div>
                          <div class="form-group">
                              <label>Hãng sản xuất</label>
                              <input name="hangSX" type="text" class="form-control" required>
                          </div>
                          <div class="form-group">
                              <label>Giá</label>
                              <input name="gia" class="form-control" required></input>
                          </div>
                          <div class="form-group">
                              <label>Trọng lượng</label>
                              <input name="trongLuong" class="form-control" required></input>
                          </div>  
                          <div class="form-group">
                            <label>Hệ điều hành</label>
                            <input name="heDieuHanh" class="form-control" required></input>
                          </div> 
                          <div class="form-group">
                            <label>Webcam</label>
                            <input name="webCam" class="form-control" required></input>
                          </div> 
                          <div class="form-group">
                            <label>RAM</label>
                            <input name="ram" class="form-control" required></input>
                          </div> 
                          <div class="form-group">
                            <label>CPU</label>
                            <input name="CPU" class="form-control" required></input>
                          </div> 
                          <div class="form-group">
                            <label>GPU</label>
                            <input name="GPU" class="form-control" required></input>
                          </div>   
                          <div class="form-group">
                            <label>Card</label>
                            <input name="Card" class="form-control" required></input>
                          </div>
                          <div class="form-group">
                            <label>Pin</label>
                            <input name="pin" class="form-control" required></input>
                          </div>
                      </div>
                      <div class="modal-footer">
                  
                          <input type="submit" class="btn btn-success" value="Thêm">
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <div id="editModal" class="modal" role="dialog">
        <a href="#" class="fade" style="position: fixed;"></a>
        <div class="modal-dialog1" style="width: 680px; margin-left: auto; margin-right: auto;" >
          
            <div id="modalSua" class="modal-content">
             
                <form th:action="@{/hang-hoa/sua-laptop}" method="post" enctype="multipart/form-data">
                    <div class="modal-header">						
                        <h4 class="modal-title">Chỉnh sửa thông tin</h4>
                        <a class="close" data-dismiss="modal" href="#">&times;</a>
                    </div>
                    <div class="modal-body">	
                      <div class="form-group" style="display: flex; ">
                        <div>
                        <label style="margin-bottom: 70px;">Hình ảnh</label>
                        <input name="hinhAnhbit" class="form-control" type="file" id="Fileimage" onchange="chooseFile1(this)" accept="image/gif image/png image/jpeg">
                        </div>
                          <div id="divImage" style="max-width: 300px; max-height:250px; margin-left: 10px;">
                              <img th:src="@{${'/hang-hoa/anh-laptop/'+laptop.getID()}}" alt="" width="300px" height="250px">
                          </div>
                        <div id="divImage1" style="max-width: 300px; max-height:250px; margin-left: 10px; display: none">
                            <img src="" alt="" width="300px" height="250px" id="image1">
                        </div>
                      </div>			
                        <div class="form-group">
                            <label>Mã Hàng hóa</label>
                            <input name="ID" th:value="${laptop.getID()}" type="text" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label>Tên hàng hóa</label>
                            <input name="Ten" th:value="${laptop.getTen()}" type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Hãng sản xuất</label>
                            <input name="hangSX" th:value="${laptop.getHangSX()}" type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Giá</label>
                            <input name="gia" th:value="${laptop.getGia()}" class="form-control" required></input>
                        </div>
                        <div class="form-group">
                            <label>Trọng lượng</label>
                            <input name="trongLuong" th:value="${laptop.getTrongLuong()}" class="form-control" required></input>
                        </div>  
                        <div class="form-group">
                          <label>Hệ điều hành</label>
                          <input name="heDieuHanh" th:value="${laptop.getHeDieuHanh()}" class="form-control" required></input>
                        </div> 
                        <div class="form-group">
                          <label>Webcam</label>
                          <input name="webCam" th:value="${laptop.getWebCam()}" class="form-control" required></input>
                        </div> 
                        <div class="form-group">
                          <label>RAM</label>
                          <input name="ram" th:value="${laptop.getRam()}" class="form-control" required></input>
                        </div> 
                        <div class="form-group">
                          <label>CPU</label>
                          <input name="CPU" th:value="${laptop.getCPU()}" class="form-control" required></input>
                        </div> 
                        <div class="form-group">
                          <label>GPU</label>
                          <input name="GPU" th:value="${laptop.getGPU()}" class="form-control" required></input>
                        </div>   
                        <div class="form-group">
                          <label>Card</label>
                          <input name="Card" th:value="${laptop.getCard()}" class="form-control" required></input>
                        </div>
                        <div class="form-group">
                          <label>Pin</label>
                          <input name="pin" th:value="${laptop.getPin()}" class="form-control" required></input>
                        </div>
                        <div class="form-group">
                            <label>Số lượng còn</label>
                            <input name="SoLuongCon" th:value="${laptop.getSoLuongCon()}" class="form-control" required READONLY></input>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Lưu">
                    </div>
                </form>
            </div>
        </div>
    </div>
      </section>
    </main>
  </body>
</html>
